body,
#sidebar,
#theme_list {
    background-color: #010D21
}

/* .row{ border: 2px solid red

} */
#theme_list {
    min-height: 100px;
    margin-bottom: 4%;
    border-bottom: .5px solid #01210F;
    z-index: 3;
}

.search_term {
    text-align: center;
    margin: 1.5%;
}

#main {
    flex-wrap: wrap-reverse;
    align-items: flex-end;
}

.gif {
    max-width: 100%;
}

/* #gif_holder{
    min-height: 500px
} */
#sidebar {

    max-height: 390px;
    border-radius: 4px;
    text-align: center;
    justify-content: space-evenly
}

.sidebar_content {
    border: .5px solid #01210F;
}

.sidebar_element {
    margin: 3% 0;
}

.sidebar_top {
    margin-top: 3%;
}

.sidebar_bottom {
    margin-bottom: 3%;
}

/* #theme_new, #limit_info,.rating{
    background-color: #010D21;
   
} */
.button {
    border-color: #01210F;
    color: #D0D3D4;
    /* border: 1px solid transparent;
    padding: .375rem .75rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; */
}
.button:hover {
    background-color: #01210F;
    border-color: #01210F;
    color: #D0D3D4
}

.button:active {
    background-color: #01210F;
    border-color: #01210F;
    color: #D0D3D4;
}

.navbar-toggler {
    width: 100%;
    border-color: transparent !important;
    opacity: 0;
}

@media screen and (max-width:575px) {
    .row {
        flex-wrap: nowrap;
    }

    #theme_list {
        position: fixed;
        top: 0;
        width: 100%
    }

    #sidebar {
        position: fixed;
        top: 99.5px;
        width: 100%;
        max-height: 560px;
    }

    #main {
        position: relative;
        top: 592px;
    }

    .navbar-toggler {
        opacity: 1;
    }
}